/*----------------------------Common Css --------------------------------------------*/

.app{

}

/*---------------------------------Navbar css -------------------------------------*/

.navbar{
    background-color: black;
    min-height: 10vh;
    color: white;
    padding: 0% 12%;
    display: flex;
    align-items: center;
}