/*----------------------------Common Css --------------------------------------------*/

.app{

}

/*---------------------------------Navbar css -------------------------------------*/

.navbar{
    background-color: black;
    min-height: 12vh;
    color: white;
    padding: 0% 12%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.navbar h2,h3{
    font-weight: 400;
}
.search-bar{
    display: flex;
    align-items: center;
}
.search-bar input{
    border-radius: 50px;
    height: 2.6rem;
    width: 30rem;
    text-align: center;
    opacity: 90%;
    transition: all 0.2s ease-in-out;
}
.search-bar input:hover{
    opacity: 100%;
}
.login a{
    text-decoration: none;
    color: white;
    
}
.login:hover{
    scale: 1.1;
}
.search-icon{
    width: 35px;
    height: auto;
    padding: 0px 0px 0px 5px;
    cursor: pointer;
    
}